.ui.borderless.topmenu.menu {
  box-shadow: none;
  border: none;
  background-color: #f7f7f7;
  margin-top: 25px;
  font-size: 17px;
}

.column1 {
  float: right;
  align-content: center;
}

.column2 {
  float: left;
  align-content: center;
}

div.ui.action.input {
  width: 200%;
}
div.column {
  float: snap;
}

div.sub.header {
  color: #aaaaaa;
}

div.text {
  color: #aaaaaa;
}


i.bars.icon {
  color: #aaaaaa;
}

i.dropdown.icon {
  color: #aaaaaa;
}

i.bars.icon {
  color: #aaaaaa;
}



body {
  background-color: #f7f7f7;
}

img {
  max-width: 50%;
  height: auto;
}


